html, body{
    background-color: #231815;
}
.pretty-print{
    color: #fff;
}
.dt-term{
    color:#40c133;
}
.key-values{
    color: #9876AA;
}
.php-pretty-print-header{
    color: #ffffff;
}
.equal{
    color: #ffffff;
}
.argument-and-type{
    color: #B2772F;
}
.github{
    color:#ffffff;
    text-decoration: none;
}