html, body{
    background-color: #231815;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.d-term,
.css-type-boolean,
.css-type-resource,
.css-type-null,
.css-type-float,
.css-type-string,
.css-type-integer {
    color:#40c133;
}
.js-object-default,
.js-object-reflection{
    padding-left:30px;
}
.css-array-keys{
    color: #9876AA;
}
.css-array-values{
    color:#40c133;
}
.css-string-object{
    color: #B2772F;
}

.css-header{
    color: #ffffff;
}
.css-pointer{
    color: #ffffff;
}
.css-argument-and-type{
    color: #B2772F;
}
.github{
    color:#ffffff;
    text-decoration: none;
}
.button {
    background-color: rgb(64, 193, 51);
    border: 0;
}

.hide{
    display: none;
}
.show{
    display: block;
}